/*font-family: 'EB Garamond', serif;
font-family: 'Nunito Sans', sans-serif;

Colors:
Beige: #fdf0d5
Navy: #003049
Light blue: #669bbc
Dark red: #780000
*/

.body {
  color: #003049;
}

.navbar {
  background-color: #f0ede6 !important;
  color: #003049 !important;
}

.navbar-brand {
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

.nav-item {
  font-family: "Nunito Sans", sans-serif;
}

.hero {
  background-color: #f0ede6;
  padding: 150px 200px;
}

h1 {
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 42px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
}
