/*font-family: 'EB Garamond', serif;
font-family: 'Nunito Sans', sans-serif;

Colors:
Beige: #f0ede6
Navy: #003049
Light blue: #669bbc
Dark red: #780000
*/

:root {
  --dark-color: #22014d;
  --light-color: #f0ede6;
  --accent-color: #e5d3a0;
  --header-font: "EB Garamond", serif;
  --paragraph-font: "Nunito Sans", sans-serif;
}

.body {
  color: var(--dark-color);
  font-size: 20px;
}

.navbar {
  background-color: var(--dark-color) !important;
}

.navbar-brand {
  font-family: var(--header-font);
  font-weight: bold;
}

.nav-item {
  font-family: var(--paragraph-font);
}

.hero {
  background-color: var(--light-color);
  padding: 9rem 12.5rem;
  background-image: url(/img/Home.png);
  color: var(--light-color);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 72px;
  color: var(--accent-color);
}

h2 {
  font-family: var(--paragraph-font);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 42px;
}

h3 {
  font-family: var(--paragraph-font);
  font-size: 32px;
}

.skills {
  background-color: #6a4e8f;
  font-size: 20px;
}

.skills h2 {
  color: var(--light-color);
  text-align: center;
}

.skills .col {
  color: var(--light-color);
  background-color: var(--dark-color);
  border-radius: 8px;
  padding: 5px 30px;
}

.projects {
  background-color: var(--dark-color);
  background-image: url(/img/Projects.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-color);
}

.projects h2 {
  text-align: center;
}

.projects h3 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 32px;
}

.projects p {
  font-family: var(--paragraph-font);
  font-size: 18px;
}

.btn-primary {
  background-color: var(--accent-color);
  border: solid 3px var(--accent-color);
  font-family: var(--paragraph-font);
  text-transform: uppercase;
  color: var(--dark-color);
  transition: ease-in-out all 0.2s;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: solid 3px var(--accent-color);
}

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--paragraph-font);
  font-size: 12px;
}

footer a {
  color: var(--light-color);
}
