/*font-family: 'EB Garamond', serif;
font-family: 'Nunito Sans', sans-serif;

Colors:
Beige: #f0ede6
Navy: #003049
Light blue: #669bbc
Dark red: #780000
*/

:root {
  --color-navy: #003049;
  --color-beige: #f0ede6;
  --header-font: "EB Garamond", serif;
  --paragraph-font: "Nunito Sans", sans-serif;
}

.body {
  color: var(--color-navy);
  font-size: 20px;
}

.navbar {
  background-color: var(--color-beige) !important;
  color: var(--color-navy) !important;
}

.navbar-brand {
  font-family: var(--header-font);
  font-weight: bold;
}

.nav-item {
  font-family: var(--paragraph-font);
}

.hero {
  background-color: var(--color-beige);
  padding: 9rem 12.5rem;
}

h1 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-family: var(--paragraph-font);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 42px;
}

h3 {
  font-family: var(--paragraph-font);
  font-size: 32px;
}

.skills {
  background-color: var(--color-navy);
  font-size: 20px;
}

.skills h2 {
  color: var(--color-beige);
  text-align: center;
}

.skills .col {
  color: var(--color-beige);
  border: solid 1px var(--color-beige);
  border-radius: 8px;
  padding: 5px 30px;
}

.projects {
  background-color: var(--color-beige);
}

.projects h2 {
  text-align: center;
}
